<!DOCTYPE html>
<html>
{{>head title=this.title subpage='Page X' }}

<body>
    {{>header  title=this.title}}

    <main>
        <div class="container">
            <H1 height="150px">{{title}}</H1>
            
            <form action="/product" method="POST" >
                <h1>ADD NEW PRODUCT </h1>
                <BR> ProductName:
                <input type="text" class="form-control" name="ProductName" id="ProductName"required>
                <BR> ProductCode:
                <input type="text" class="form-control" name="ProductCode" id="ProductCode"required>
                <BR> Price:
                <input type="number" class="form-control" name="Price" id="Price"required>
                <BR> ImgLink:
                <input type="text" class="form-control" name="ImgLink" id="ImgLink"required>
                <input type="submit" class="btn btn-primary" value="Create">
            </form>
        </div>        
    </main>
    

    {{>footer}}
</body>

</html>
