<!DOCTYPE html>
<html>
{{>head title=this.title subpage='Page X' }}

<body>
    {{>header  title=this.title}}

    <main>
        <H1>{{title}}</H1>
<!DOCTYPE html>
<html>
{{>head title=this.title subpage='ATN SHOP' }}
<body>
    {{>header  title=this.title}}
    <H1>{{title}}</H1>
<!-- list product -->
<div class="container">
    <div class="row mt-5">
        <h2 class="list-product-title"> Sản phẩm bán chạy nhất tháng 10</h2>
        <div class="list-product-subtitle">
            <p>List product description</p>
        </div>
        <div class="product-group">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product mb-3">
                      <img class="card-img-top" src="product1.jpg"  alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">GĂNG TAY KHỦNG LONG (ANIMAL HEAD PUPPET)</p>
                            <div class="style__StyledProductPrice-sc-15mbtqi-0 hJdJUx"><div class="product-price">
                            <span class="product-price__current-price">268.000 ₫</span>
                            </div></div>
                        <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Mua hàng</a>
                            <a href="/product" class="btn btn-primary"><i class="fa fa-asterisk" aria-hidden="true"></i> Chi tiết</a>
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product mb-3">
                      <img class="card-img-top" src="product2.jpg" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">BOARD GAME THẺ BÀI VUI NHỘN CHO GIA ĐÌNH COVER YOUR ASSETS </p>
                            <div class="style__StyledProductPrice-sc-15mbtqi-0 hJdJUx"><div class="product-price">
                            <span class="product-price__current-price">199,000 ₫</span>
                            </div></div>
                        <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Mua hàng</a>
                            <a href="detail1.html" class="btn btn-primary"><i class="fa fa-asterisk" aria-hidden="true"></i> Chi tiết</a>
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product mb-3">
                      <img class="card-img-top" src="bootstrap/images/iphone11.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">Điện Thoại</h5>
                        <p class="card-text">Điện Thoại iPhone 11 64GB - Hàng Chính Hãng</p>
                            <div class="style__StyledProductPrice-sc-15mbtqi-0 hJdJUx"><div class="product-price">
                            <span class="product-price__current-price">17.790.000 ₫</span>
                            <span class="product-price__list-price">21.990.000 ₫</span>
                            <span class="product-price__discount-rate">-19%</span></div></div>
                        <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Mua hàng</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-asterisk" aria-hidden="true"></i> Chi tiết</a>
                      </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card card-product mb-3">
                      <img class="card-img-top" src="bootstrap/images/ipad10.2.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">ipad</h5>
                        <p class="card-text">iPad 10.2 Inch WiFi 32GB (Gen 8) New 2020 - Hàng Nhập Khẩu Chính Hãng</p>
                            <div class="style__StyledProductPrice-sc-15mbtqi-0 hJdJUx"><div class="product-price">
                            <span class="product-price__current-price">8.690.000 ₫</span>
                            <span class="product-price__list-price">9.990.000 ₫</span>
                            <span class="product-price__discount-rate">-13%</span></div></div>
                        <a href="#" class="btn btn-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Mua hàng</a>
                            <a href="#" class="btn btn-primary"><i class="fa fa-asterisk" aria-hidden="true"></i> Chi tiết</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
<p>  HỖ TRỢ KHÁCH HÀNG</p>
<p>Hotline chăm sóc khách hàng: 0918414253 (1000đ/phút , 8-21h kể cả T7, CN)</p>
<p> Báo lỗi bảo mât: ThanhDAGCS190644@fpt.edu.vn</p>
<p> Địa chỉ: 142 Phạm Phú Thứ, phường 4, quận 6, TP HCM</p>
</footer>
</body>

</html>
    </main>
    

    {{>footer}}
</body>

</html>
