<!DOCTYPE html>
<html>
{{>head title=this.title subpage='Page X' }}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="./css/style.css">
<body>
    {{>header  title=this.title}}

    <main>
        <H1>{{title}}</H1>
<!DOCTYPE html>
<html>
{{>head title=this.title subpage='ATN SHOP' }}
<body>
 <header class="hero flex items-center">
                    <div class="container">
                        <div class="welcome flex items-center">
                            <span>Welcome to ATN shop</span>
                        </div>
                        <h1>The World Best <span>Shoping</span> Website</h1>
                        <div class="hero-image">
                            <img src="./images/" alt="">
                        </div>
                    </div>
                </header>

    {{>footer}}
</body>

</html>
