<!DOCTYPE html>
<html>
{{>head title=this.title subpage='ATN SHOP' }}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="style.css">
<body>
    {{>header  title=this.title}}

    <main>
            <div class="container">
            <div class="login-form">
                <form action="" method="post">
                    <h1>CHECK YOUR INFORMATION TO BUY</h1>
                    <div class="input-box">
                        <i ></i>
                        <input type="text" placeholder="Nhập username">
                    </div>
                    <div class="input-box">
                        <i ></i>
                        <input type="password" placeholder="Nhập năm sinh">
                    </div>
                    <div class="input-box">
                        <i ></i>
                        <input type="email" placeholder="Nhập email">
                    </div>
                    <div class="input-box">
                        <i ></i>
                        <input type="Mobile number" placeholder="Nhập mobile number">
                    </div>
                    <div class="input-box">
                        <i ></i>
                        <input type="address" placeholder="Nhập address">
                    </div>
                    <div class="btn-box">
                        <button type="submit">
                            SUBMIT
                        </button>
                        <button type="submit">
                            CANCEL
                        </button>
                    </div>
                </form>
            </div>
            </div>
        </main>
</body>

</html>
